h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em !important;
    color: rgb(50, 50, 50);
}


dl {
    margin-top: 40px;
}

dl.simple{
    margin-top: 20px;
}

dd > p{
    margin: 0px;
}